"$schema" = 'https://starship.rs/config-schema.json'

right_format = """$status$time"""

add_newline = false

[line_break]
disabled = true

[status]
disabled = false

[time]
use_12hr = true
disabled = false

[os]
disabled = false

[package]
disabled = true
