# https://docs.atuin.sh/cli/configuration/config/

search_mode = "skim"
enter_accept = true
style = "auto"
store_failed = false

[stats]
common_subcommands = [
  "apt",
  "cargo",
  "composer",
  "dnf",
  "docker",
  "git",
  "go",
  "ip",
  "jj",
  "kubectl",
  "nix",
  "nmcli",
  "npm",
  "pecl",
  "pnpm",
  "podman",
  "port",
  "systemctl",
  "tmux",
  "uv",
  "yarn",
]

[sync]
records = true

[dotfiles]
enabled = true

# https://docs.atuin.sh/cli/guide/theming/
[theme]
name = "default"
